#navigation {
    display: flex;
    width: 75%;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
}


#navBar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 20px 5%;
    margin-right: 30px;
  }

  .addPlant{
    text-align: right;
}

  .plantProfile{
    padding: 30px;
    width: 10px;
    height:10px;
    font-family: 'Lato', sans-serif;
    text-align: center;
   
  }
  .info{
    width: 250px;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }

  .plantGrid{
    display: grid;
    align-items: center;

  }
  .box{
    height: 200px;
    width: 200px;
    grid-row: 1;
  }
  .plantGrid2{
    display: grid;
    align-items: center;

  }

  #myGreenhouse{
    text-align: center !important;
  }

  #outdoor{
    margin-top: 300px;
  }

  .header{
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 40px;
    padding: 5px;
    color: #425300;
  }



.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #425300;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #425300;
  background: #425300;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchbar{
    padding: 5px;
}

body{
    background-image:url("GreenCircleBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}


  
